RewriteEngine on
RewriteCond %{HTTP_HOST} ^appsalon.formacionconsciente.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.appsalon.formacionconsciente.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]